/*.page {
	
	overflow-y: hidden;
overflow-x: hidden;
}*/
.vr{
  width:3px;
  display:table-cell;
  background-color:black;
  height:100%;
  
}
.v-canvas-container {
	width: 100%;
	height: 100%;
	/*background-color: #b3ecff;*/
	border: 0.2rem solid #97d23d !important;
	border-radius: 25px;

}

.v-datalist-container {
	height: 100%;
}

#border-radius{
	border-radius: 1px;
}
#radio-style{
	justify-content: left;
	padding: 0.4em;
	margin-left: 0.4em;
}

#slider-left{
	justify-content: left;
}

svg {
	max-width: 100%;
}


 #arrow { 
	/* margin-left: 530px;
	margin-top: 0px; 
  width: 100px;
  height: 100px;*/
  position: relative;
  animation: mymove 10s forwards;
} 

/*#ball {
	margin-left: 315px;
	margin-top: 1px;
  position: relative;
  animation: mymove 1s forwards;
}
.ball {
	position: relative;
	bottom: 0%;
	left: -1em;
	width: 2em;
	height: 2em;
	/*border-radius: 50%;*/
	/*background-color: orange;*/
/*}
*/

g {
	outline-color: solid 10px black;
}
.graph {
	display: none;
	min-width: 100%;
}

.plot {
	display: inline-block;
}

.apparatus {
	order: 1;
}

.simulation {
	order: 2;
}

.observations {
	order: 3;
}

@media screen and (max-width: 1023px) {
	.apparatus {
		order: 1;
	}

	.simulation {
		order: 3;
	}

	.observations {
		order: 2;
	}
}
/*  #triangle1 {
      width: 1px;
      height: 1px;
      display: none;
      opacity: 0;
      transform: rotateX(170deg);
      border-left: 0px solid transparent;
      border-right: 170px solid transparent;
      border-bottom: 58px solid #000000;
      margin: 10px 0px 00px;
}*/